<div class="about-desc">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere est lectus, et tempus ipsum varius eget.
    Phasellus mauris magna, mollis et porta ut, interdum in odio. Fusce dolor nisl, consequat id nisl quis, lacinia
    condimentum libero. Pellentesque ipsum odio, varius nec nisl non, ullamcorper malesuada tellus. Suspendisse
    efficitur ac odio vitae commodo. Mauris malesuada posuere justo, dapibus tempus orci placerat faucibus. Nullam
    tempus, ex ut laoreet eleifend, ante ligula hendrerit urna, et elementum nisl tortor eu mauris. In vel nibh in
    lectus volutpat semper nec quis leo. Nam vitae ex dolor. Nullam suscipit, risus vel dapibus tempor, metus odio
    tempor metus, posuere posuere nisl lorem eget est. Donec consequat velit porttitor, accumsan mi quis, consequat
    elit. Aliquam leo eros, dapibus in ligula id, tempus sagittis purus. Proin faucibus et lacus viverra scelerisque.
    Quisque id purus sem. Aliquam luctus est eu libero venenatis, imperdiet euismod quam porta. In efficitur iaculis
    nibh, in consequat nulla placerat nec. Nunc nec dapibus arcu, vitae varius nibh. Duis vitae purus in est varius
    placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nec
    finibus leo. Duis quis pellentesque nisi. Vestibulum vestibulum malesuada eros ut lacinia. Cras tincidunt leo eget
    libero porttitor, vitae maximus massa ornare. Donec mollis blandit diam, at mollis massa gravida id. Nunc faucibus
    aliquam mi, at lacinia urna cursus nec. Curabitur consectetur in nunc vitae luctus. Aliquam vestibulum justo quis
    turpis blandit, sed laoreet leo tempor. Duis ac tellus non arcu facilisis tristique in sit amet elit. Aenean
    malesuada lacus id ex auctor, vitae vehicula felis pulvinar. Class aptent taciti sociosqu ad litora torquent per
    conubia nostra, per inceptos himenaeos. Donec vulputate eros ut tempor pulvinar. Nulla posuere lorem sit amet ante
    laoreet, in scelerisque turpis volutpat. Integer at magna est. Nulla suscipit vitae arcu id scelerisque. Aliquam
    vitae hendrerit augue. Pellentesque eget consectetur erat. Cras sed mauris ultricies, porttitor ligula sit amet,
    vulputate nunc. Suspendisse feugiat eu nisi in venenatis. Duis suscipit, diam in malesuada sollicitudin, massa
    sapien rhoncus lacus, ac gravida neque odio eu nisl. Mauris a tempor nibh. In imperdiet velit mauris. Nulla felis
    sapien, mattis laoreet bibendum quis, pulvinar in neque. Suspendisse varius fringilla pulvinar. In hac habitasse
    platea dictumst. Ut sed arcu posuere, dictum nulla a, volutpat nisi. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Proin gravida hendrerit turpis, ut venenatis purus consectetur quis. Proin volutpat facilisis
    turpis eget pretium.
  </p>
  <div>
    <p><em>Citation ?</em></p>
  </div>
</div>
<div class="about-assets">
  <img
    default="./assets/imgnotfound.png"
    src="https://media-exp1.licdn.com/dms/image/D4E35AQEy8DU7OmbF3g/profile-framedphoto-shrink_800_800/0/1631195842604?e=1633356000&v=beta&t=K2fsuU-CT4K1QXQzOq-BHtzPQRkAoVZ3SRiUkaQNxJE"
    alt="about-img"
    width="500"
    height="500" />
</div>
