:host {
  body {
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    grid-gap: 100px;
    & #about,
    #pricing {
      display: grid;
      grid-template-columns: 100px 1fr 100px;
    }
  }
}
