<view-template>
  <body>
    <div class="ds-container">
      <div class="ds-flex">
        <div class="ds-col ds-col__12-s ds-col__12-m ds-col__12-l">
          <section id="about"><view-about></view-about></section>
        </div>
        <div class="ds-col ds-col__12-s ds-col__12-m ds-col__12-l">
          <section id="expertise"><view-expertise></view-expertise></section>
        </div>
        <div class="ds-col ds-col__12-s ds-col__12-m ds-col__12-l">
          <section id="work"><view-work></view-work></section>
        </div>
        <div class="ds-col ds-col__12-s ds-col__12-m ds-col__12-l">
          <section id="pricing"><view-pricing></view-pricing></section>
        </div>
      </div>
    </div>
  </body>
</view-template>
