<view-template>
  <body>
    <div class="ds-container">
      <div class="ds-flex expended-gap">
        <div class="ds-col ds-col__12 ds-col__6-s">
          <section id="about"><view-about></view-about></section>
        </div>
        <div class="ds-col ds-col__12 ds-col__6-s">
          <section id="expertise"><view-expertise></view-expertise></section>
        </div>
        <div class="ds-col ds-col__12 ds-col__6-s">
          <section id="work"><view-work></view-work></section>
        </div>
        <div class="ds-col ds-col__12 ds-col__6-s">
          <section id="quote"><view-contact></view-contact></section>
        </div>
      </div>
    </div>
  </body>
</view-template>
