<!-- <ul class="list-unstyled">
  <div
    *ngFor="let service of serviceList; let index = index"
    (click)="selectedService = service"
    [class.active]="selectedService == serviceList[index]">
    <li>
      {{ service.name }}
    </li>
  </div>
</ul> -->

<div class="contact-box">
  <div class="box-header">
    <div class="package-type">
      un service
    </div>
    <div class="contact">
      <span>j'sais ap</span>
    </div>
  </div>
  <div class="box-body">
    <ul class="list-unstyled">
      <li>descript</li>
    </ul>
    <div class="small-text">Try Now</div>
    <button class="btn rounded btn-purchase" (click)="onPurchase(selectedService)">Purchase</button>
  </div>
</div>
