:host {
  display: flex;
  flex-wrap: wrap;

  & ul {
    flex: 1 1 14em;

    & div {
      cursor: pointer;
      padding: 14px;

      &:last-child {
        margin-bottom: 0 !important;
      }
      
      &:hover > li,
      &.active > li {
        transform: translateX(50px);
      }
    }
  }
}

.contact-box {
  flex: auto;
  background: white;
  text-align: center;
  box-shadow: 3px 3px 20px #e0e0e0;
  cursor: pointer;
  transition: 0.2s all;
  border-radius: 10px;
  overflow: hidden;
  &:hover {
    box-shadow: 0 10px 20px #8a8a8a6e;
    transform: translateY(-5px);
  }

  &:active {
    box-shadow: 0 0 20px #d9d9d999;
    transform: translateY(2px);
  }
  //HEADER
  & .box-header {
    background: linear-gradient(45deg, #f4dfd0 0%, #fbeeef 80%);
    padding: 24px 0;
  }

  & .box-header > .package-type,
  .box-header > .contact {
    flex: 1 1 100%;
  }

  & .package-type {
    margin: 14px 0;
  }

  & .contact {
    flex: 1 1 100%;
    margin-top: 5px;

    & > span {
      font-weight: 700;
      font-size: 42px;
    }
  }
  //BODY
  & .box-body {
    padding: 24px 0;
    line-height: 2.5rem;
    
    & > .small-text {
      font-size: 13px;
      color: #bfbbbb;
    }
  }

  //Buttons
  & .btn-purchase {
    background: #f4dfd0;
    border: none;
    border-radius: 2rem;
    padding: 14px 44px;
    font-weight: 600;
    font-size: 18px;
    transition: 0.2s all;
    outline: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      
    &.btn-purchase:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 10px #e4e4e487;
      background: #FBEEEF;
      color: #000;
    }

    &.btn-purchase:active {
      transform: translateY(0);
      box-shadow: none;
    }
  }
}
