:host {
  display: flex;
  margin: 24px 0;
  gap: 60px;

  .expertise {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    min-height: 500px;
    transition: ease-in 200ms;
    cursor: pointer;

    & .exp-item {
      margin: auto;;
      font-size: xx-large;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      border-bottom: 130px solid #f4dfd0;

      & + div {
        display: none;
        padding: 34px;
      }
    }
    &.active {
      flex: 1 1 80%;
      background-color: #f4dfd0;

      .exp-item {
        display: none;

        & + div {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  :host {
    flex-wrap: wrap;
  }
}
