<ul>
  <li
    (click)="selectedWork = work"
    *ngFor="let work of pageOfItems; let index = index"
    class="work active"
    [id]="work.name"
    [class.active]="selectedWork == pageOfItems[index]">
    <h5>{{ work.name }}</h5>
    <!-- TODO ajouter un vue pour chaque cas -->
    <div *ngIf="selectedWork"><br />
      <div class="ds-container">
        <div class="ds-flex">
          </div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptate et quasi nisi voluptatibus velit doloribus nostrum nulla enim optio quo sapiente est ex similique soluta mollitia, magni dolorem ab.
          </div>
    </div>
  </li>
</ul>

<base-pagination [items]="works" (changePage)="onChangePage($event)"></base-pagination>
