:host {
  margin: 0 34px;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;

    & .work {
      flex: 1 1 0%;
      transition: ease-out 200ms;
      cursor: pointer;

      h5 {
        padding: 34px;
        font-weight: 700;
        font-size: 42px;
        color: inherit;
        // transition: ease-out 1s;
        height: 0;
      }


      div {
        visibility: hidden;
      }

      &.active {
        flex: 1 1 70% !important;
        height: 500px;
        background-color: #fdefef;

        div {
          visibility: visible;
        }
      }
    }
  }
}
