$fw-lighter: 400;
$fw-normal: 500;
$fw-bold: 600;

$fs-xs: 11.2px;
$fs-small: 14px;
$fs-normal: 16px;
$fs-regular: 18px;
$fs-medium: 21px;
$fs-large: 24px;
$fs-xl: 28px;
$fs-xxl: 38px;
$fs-xxxl: 42px;

$xs: 11.2px;
$small: 14px;
$normal: 16px;
$regular: 18px;
$medium: 21px;
$large: 24px;
$xl: 28px;
$xxl: 38px;
$xxxl: 42px;

$fonts: (
  xs: 12px,
  small: 14px,
  normal: 16px,
  regular: 18px,
  medium: 21px,
  large: 24px,
  xl: 28px,
  xxl: 38px,
  xxxl: 42px,
);

@each $name, $value in $fonts {
  .font-#{$name} {
    font-size: #{$value};
  }
}
